<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<!-- 左サイドバー -->
		<div class="accordion accordion-border col-lg-2">
			<h4 style="">タグ絞り込み</h4>
			<% @tags.each do |t| %>
				<ul id="accordion mdl-list">
					<li class="accordion-item mdl-list__item">
				    	<p class="question", style="float: left;"><%= t.name %></p>
				    	<span>▶</span><br>
				     	<div class="answer">
				        	<p>	<% Tag.where(category_id: t.id).each do |w| %>
									<%= link_to w.word, recipes_tag_search_path(tag_id: w.id), class: 'search-tag label' %>
								<% end %></p>
				     	</div>
					</li>
				</ul>
			<% end %>
		</div>

		<!-- 中央コンテンツ -->
		<div class="col-lg-10">
			<h3>既存レシピ一覧</h3>
			<%= render 'layouts/recipes_index', recipes: @recipes %>
		</div>
		<div class="pagenation">
			<%= paginate @recipes, class: 'pagenate' %>
		</div>
	</div>
</div>
<%#= render 'layouts/footer'%>


<script>
$(function() {
  $('.accordion-item').click(function(){

    var $answer = $(this).children('.answer');

    if ($answer.hasClass('open')) {
      $answer.removeClass('open');
      $answer.slideUp();

      $(this).children('span').text('▶');
    }

    else {
      $answer.addClass('open');
      $answer.slideDown();
      $(this).children('span').text('▼');
    }
  });
});
</script>