<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    .header h2 {
      color: black;
      display: inline-block;
      font-family: "arial black","Impact", sans-serif;
      font-style: bold;
      vertical-align: middle;
      float: left;
      margin: 10px 5px 5px 5px;
    }
    .header h6 {
      color: black;
      display: inline-block;
      font-style: italic;
      float: left;
      vertical-align: middle;
    }
    .table-in-mail {
      width: 100%;

    }
    th {
      text-align: left;
    }
    footer {
      text-align: center;
    }
  </style>
</head>
<body>
  <header class="clearfix header" style="height: 50px; background-color: #FFCF34; width: 100%">
    <h2>CookListy<h2> <h6>買い物リスト自動生成サービス</h6>
  </header>
  <h4><%= @user.last_name %> <%= @user.first_name %> 様</h4>
  <h3 style="color: #f2450c;">ご利用ありがとうございます！</h3>
  <p>買い物リストが送信されました。<br>
     お買い物はお気をつけてどうぞ！</p>
  <hr />
    <table class="table table-in-mail">
        <tr>
          <th>食材名</th>
          <th>備考</th>
          <th>追加日<th>
        </tr>
      <% @ingredients.each do |i| %>
        <tr>
          <td> <% if i.ingredient.present? %>
               <%= i.ingredient.name %>
               <% else %>
               <%= i.stuff_name %>
               <% end %>
          </td>
          <td> <% if i.memo.present? %>
               <%= i.memo %>
               <% else %>
               -
               <% end %>
          </td>
          <td> <%= i.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end %>
      </table>
  <hr />
  <footer class="clearfix header" style="height: 50px; width: 100%">
    <h5>本メールはサービス"CookListy"から送信されました</h5>
    <h5>(C) Kaito Fukai</h5>
  </footer>
</body>
</html>