<%= render 'layouts/header' %>

<div class="container">
	<div class="row">
		<div class="helper-edit-box" style="width: 75%; margin: 0 auto;">
			<div style="max-width:415px; margin: 0 auto;">
				<%= form_for @helper, url: helper_update_user_path(@helper) do |f| %>
					<h3 class="">お買い物ヘルパー情報編集</h3>
					<%= f.label :name, 'お名前' %><br>
					<%= f.text_field :name, style: 'height: 35px;', placeholder: 'お名前' %><br>
					<%= f.label :address, 'メールアドレス' %>
					<%= f.text_field :address, style: 'width: 100%; height: 35px;', placeholder: 'メールアドレス' %>
					<%= f.submit '更新', class: 'btn main-btn col-xs-12', style: 'margin-top: 20px;' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%#= render 'layouts/footer' %>