<%= render 'layouts/header' %>

<div class="container">
	<div class="row">
		<div class="", style="width: 90%; margin: 0 auto;">
			<div class="">
				<h3 style="display: inline-block;">家にあるものリスト</h3>
				<%= link_to "全ての食材を削除する", stock_list_path(id: 'destroy_all'),method: :delete, class: 'btn btn-danger'%>
			</div>
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>食材名</th>
						<th>写真</th>
						<th>量</th>
						<th><%= sortable "created_at", "賞味（消費）期限" %></th>
						<th>リスト追加日</th>
						<th></th>
						<!-- <th>  </th> -->
					</tr>
				</thead>
				<tbody>
						<% if @stocks.count == 0 %>
							<td colspan="5"> （家にあるものリストに食材が登録されていません） </td>
						<% else %>
							<% @stocks.each do |s| %>
								<tr>
									<td class="col-xs-3"> <%= s.ingredient_free_name %></td>
									<td class="col-xs-2"> <%= attachment_image_tag s, :stock_image,  :style => 'height:100px; width: auto;', fallback: "/images/no_image.jpg" %></td>
									<td class="col-xs-2"> <% if s.quantity.nil? %>
 										 	<%= "未登録" %>
										 <% else %>
										 	<%= s.quantity %>
			 							 <% end %>
									</td>
									<td class="col-xs-2"> <% if s.limit.nil? %>
 										 	<%= "未登録" %>
										 <% else %>
			 								<%= s.limit.strftime('%Y/%m/%d') %>
			 							 <% end %> </td>
									<td class="col-xs-2"> <%= s.created_at.strftime('%Y/%m/%d') %></td>
									<td class="col-xs-1"> <%= link_to "削除", stock_list_path(s), method: :delete, data: {confirm: '本当に削除してよろしいですか?'}, class: 'btn btn-warning' %></td>
								</tr>
							<% end %>
						<% end %>
				</tbody>
			</table>

			<div class="add_ingredients_form", style="margin-bottom: 20px;">
				<h3>食材を追加する</h3>
				<%= form_for @new_stock, url: stock_lists_path, method: :post do |f| %>
					<%= f.label :ingredient_free_name, '食材名:' %>
					<%= f.text_field :ingredient_free_name %>
					<%#= f.select :recipe_id, Recipe.all.map {|u| [u.recipe_name, u.id]}, {}, {class: "js-example-basic-single"} %>
					<%= f.label :quantity, '量:' %>
					<%= f.text_field :quantity, :min => 1, style: 'width: 100px;' %>
					<%= f.label :limit, '賞味期限:' %>
					<%= f.date_field :limit, style: 'width: 120px;'%>
					<%= f.label :stock_image,'写真:' %>
					<%= f.attachment_field :stock_image, style: 'display: inline-block' %>
					<%= f.submit "リストに追加", class: 'btn main-btn' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%#= render 'layouts/footer' %>
								<%# if i.recipe_id =! nil %>
							 	<%#= i.recipe.recipe_name %>
							 	<%# else %>
							 	<!-- <p></p> -->
							 <%# end %>
