<div class="nested-fields" >
	<%= f.label :ingredient, '食材名' %>
	<%= f.select :ingredient_id, Ingredient.all.map { |u| [u.name_with_unit, u.id] }, { }, { class: "js-example-basic-single"} %>
	<%= f.label :quantity, '量てす' %>
	<%= f.text_field :quantity %><br>
	<%= link_to_remove_association "削除", f %>
</div>

<script>
	$(document).ready(function() {
    $('.js-example-basic-single').select2();
});

$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script>
