<footer class="user_footer row", style="background-color: #666666; ">
		<nav class="clearfix" style="width: 90%; margin: 0 auto; padding-left: 10%;">
			<span class="col-xs-4">
				<p class="footer-caption">レシピ管理</p><br>
					<%= link_to "既存レシピ一覧", admin_recipes_path %><br>
					<%= link_to "レシピ新規登録", new_admin_recipe_path %>
			</span>
			<span class="col-xs-4">
				<div>
					<p class="footer-caption">食材管理</p><br>
					<%= link_to "登録済み食材一覧", admin_ingredients_path %><br>
					<%= link_to "タグ一覧・編集", admin_tags_path %>
				</div>

			</span>

			<span class="col-xs-4">
				<div>
					<p class="footer-caption">ユーザー情報管理</p><br>
					<%= link_to 'ユーザー一覧・ユーザー情報編集', admin_users_path %>
				</div>

				<div>
					<p class="footer-caption">管理者情報</p><br>
					<%= link_to 'プロフィール確認・編集', admin_administrator_path(current_administrator.id) %>
					<%#= link_to '管理者一覧', admin_users_path %>
				</div>
			</span>
		</nav>
		<h6 class="col-xs-12" style="margin:30px 0 20px 0; text-align: center; color: white;">Copyright © 2018 Kaito Fukai All Rights Reserved.</h6>
</footer>